<%- include('partials/head') %>


h2{
    font-family: futura light;
    font-weight:900;
    font-size:2rem;
}
#modal img{
    max-width:95vw;
    max-height:75vh;
    border-radius:25px;
}
.name, #modal-name{
    font-weight:900;
    font-size:1.3rem;
    font-family: futura light;
}
#drinks-menu{
    max-width:7in;
    min-height:8.5in;
    border:1px solid red;
    position:relative;
    padding:10px;
}
.price, #modal-price{
    font-weight:900;
    font-size:1.2rem;
}
.allergies, #modal-allergies{
    font-family:sans-serif;
    color:red;
    font-size:0.9rem;
}

#modal{
    width:100vw;
    min-height:100vh;
    background: #888888ee;
    position: fixed;
    inset:0;
    display:none;
    place-content:center;
    padding:10px;
}
#close-modal-button{
    font-size:60px;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    font-weight:900;
}
figure{
    display:table;
}
figcaption{
    background:#ccc;
    padding:10px;
    border-radius:25px;
    display:table-caption;
    caption-side:bottom;
}

@media(min-width:8.5in){
    #dinner-menu{
        padding:0.5in;
    }
    #top-left, #bottom-left{
        padding-right:0.25in;
    }
    #top-right, #bottom-right{
        padding-left:0.25in;
    }
}
main h1{
    text-align:left;
    font-family:futura light;
    font-size:3rem;
}
#drinks-menu{
    margin-bottom:3em;
    position: relative;
}


<%- include('partials/header') %>

<main>

<nav id='nav-top'>
    <a href='/dinner'>dinner</a>
    <a href='/specials'>specials</a>
    <a href='/dessert'>dessert</a>
    <a href='/wine'>wine</a>
    <a class='active-page'>drinks</a>
</nav>

<div id='drinks-menu' class='menu'>

<% if(req.user){ %>
    <a href='/edit/craftDrinks'>
        <i class="fa-solid fa-gear"></i>
    </a>
<% } %>


            <h1>olea</h1>
            <hr>

            <h2>craft drinks</h2>
            <ul>
                <% for (let i=0;i<craftDrinks.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(craftDrinks[i]) %>)'>
                        <span class='name'><%= craftDrinks[i].name %></span><br>
                        <%- craftDrinks[i].description %>
                        &nbsp; 
                        <span class='price'><%= craftDrinks[i].price %></span><br>
                    </li>
                <%}%>
            </ul>

            <h2>sangría</h2>
            <ul>
                <% for (let i=0;i<sangria.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(sangria[i]) %>)'>
                        <span class='name'><%= sangria[i].name %></span><br>
                        <%- sangria[i].description %>
                        &nbsp; 
                        <span class='price'><%= sangria[i].price %></span><br>
                    </li>
                <%}%>
            </ul>

            <h2>non-alcoholic</h2>
            <ul>
                <% for (let i=0;i<nonAlcoholic.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(nonAlcoholic[i]) %>)'>
                        <span class='name'><%= nonAlcoholic[i].name %></span><br>
                        <%- nonAlcoholic[i].description %>
                        &nbsp; 
                        <span class='price'><%= nonAlcoholic[i].price %></span><br>
                    </li>
                <%}%>
            </ul>

            <h2>beer</h2>
            <h3>CAN</h3>
            <ul>
                <% for (let i=0;i<beerCans.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(beerCans[i]) %>)'>
                        <span class='name'><%= beerCans[i].name %></span><br>
                        <%- beerCans[i].description %>
                        &nbsp; 
                        <span class='price'><%= beerCans[i].price %></span><br>
                    </li>
                <%}%>
            </ul>

            <h3>DRAFT</h3>
            <ul>
                <% for (let i=0;i<beerDrafts.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(beerDrafts[i]) %>)'>
                        <span class='name'><%= beerDrafts[i].name %></span><br>
                        <%- beerDrafts[i].description %>
                        &nbsp; 
                        <span class='price'><%= beerDrafts[i].price %></span><br>
                    </li>
                <%}%>
            </ul>


   

    <div id='modal'>
        <i class='fa-solid fa-square-xmark x'
           id='close-modal-button'
           onclick='closeModal()'></i>
        <div id='modal-item'>
            <figure>
                <img src='' id='modal-image'>
                <figcaption>
                    <div id='modal-text'>
                        <span id='modal-name'></span><br>
                        <span id='modal-description'></span>&nbsp;
                        <span id='modal-price'></span><br>
                        <span id='modal-allergies'></span>
                    </div>
                </figcaption>
            </figure>
        </div><!--#modal-item-->
    </div><!--#modal-->
</div><!--#specials-menu-->
</main>

<script>
    const modal = document.querySelector('#modal')
    const modalImage = document.querySelector('#modal-image')
    const modalName = document.querySelector('#modal-name')
    const modalDescription = document.querySelector('#modal-description')
    const modalPrice = document.querySelector('#modal-price')
    const modalAllergies = document.querySelector('#modal-allergies')

    function showModal(item){
        if (!item.image) return
        console.log(item)
        modalImage.src=item.image
        modalName.innerHTML = item.name
        modalDescription.innerHTML = item.description
        modalPrice.innerHTML = item.price
        modalAllergies.innerHTML = item.allergies
        modal.style.display = 'grid'
    }
    function closeModal(){
        modal.style.display = 'none'
    }
</script>
<%- include('partials/footer') %>
<script>
    document.querySelector('#footer-drinks').classList.add('active-page')
</script>
</body>
</html>