<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/style.css'>
    <script src="https://kit.fontawesome.com/21ef82ed30.js" crossorigin="anonymous"></script>
    <style>
        .menu{
            max-width:8.5in;
        }
    </style>
</head>
<body>
    <div id="wrapper">
 
<main>


<%- include('partials/editNav') %>


<%- include('partials/editMenu') %>


<div id='menu' class='menu edit-menu'>



    <h1>olea</h1>
    <hr>
    <h2> wine menu</h2> 
    <h3>beer</h3>

            <h3>CAN</h3>

            <ul>
                <% for (let i=0;i<beerCans.length;i++){ %>
                    <li>
                        <% if(i!=0) { %>
                            <a href='/edit/moveUp/<%= beerCans[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>
                        <% }else{ %>
                            <a style='visibility:hidden;' href='/edit/moveUp/<%= beerCans[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>                            
                        <% } %>

                        <div onclick='showModal(<%= JSON.stringify(beerCans[i]) %>)'>
                            <span class='name'><%= beerCans[i].name %></span><br>
                            <%- beerCans[i].description %>
                            &nbsp; 
                            <span class='price'><%= beerCans[i].price %></span><br>
                            <span class='allergies'><%- beerCans[i].allergies %></span><br>
                        </div>                        
                        <a href='/edit/updateItem/<%= beerCans[i].id %>'>

                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'

                            action='../edit/deleteMenuItem/<%= beerCans[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>

                        <form method='POST'
                            action='../edit/archiveMenuItem/<%= beerCans[i].id %>?_method=PUT'>
                            <button>
                                <i class="fa-solid fa-folder-plus"></i>
                                <span class='archive-text'>Archive</span>
                            </button>
                        </form>
                        
                        <% if(i!=beerCans.length-1){ %>
                            <a href='/edit/moveDown/<%= beerCans[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>
                        <% }else{ %>
                            <a style='visibility:hidden;' href='/edit/moveDown/<%= beerCans[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>                            
                        <% } %>
                    </li>
                <%}%>
            </ul>
            <br><br><br>
            <h3>DRAFT</h3>
            <ul>
                <% for (let i=0;i<beerDrafts.length;i++){ %>
                    <li>
                        <% if(i!=0) { %>
                            <a href='/edit/moveUp/<%= beerDrafts[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>
                        <% }else{ %>
                            <a style='visibility:hidden;' href='/edit/moveUp/<%= beerDrafts[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>                            
                        <% } %>
                        <div onclick='showModal(<%= JSON.stringify(beerDrafts[i]) %>)'>
                            <span class='name'><%= beerDrafts[i].name %></span><br>
                            <%- beerDrafts[i].description %>
                            &nbsp; 
                            <span class='price'><%= beerDrafts[i].price %></span><br>
                            <span class='allergies'><%- beerDrafts[i].allergies %></span><br>
                        </div>                        
                        <a href='/edit/updateItem/<%= beerDrafts[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= beerDrafts[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>

                        <form method='POST'
                            action='../edit/archiveMenuItem/<%= beerDrafts[i].id %>?_method=PUT'>
                            <button>
                                <i class="fa-solid fa-folder-plus"></i>
                                <span class='archive-text'>Archive</span>
                            </button>
                        </form>
                        
                        <% if(i!=beerDrafts.length-1){ %>
                            <a href='/edit/moveDown/<%= beerDrafts[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>
                        <% }else{ %>
                            <a style='visibility:hidden;' href='/edit/moveDown/<%= beerDrafts[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>                            
                        <% } %>
                    </li>
                <%}%>
            </ul>            
        

   

    <div id='modal'>
        <i class='fa-solid fa-square-xmark x'
           id='close-modal-button'
           onclick='closeModal()'></i>
        <div id='modal-item'>
            <figure>
                <img src='' id='modal-image'>
                <figcaption>
                    <div id='modal-text'>
                        <span id='modal-name'></span><br>
                        <span id='modal-description'></span>&nbsp;
                        <span id='modal-price'></span><br>
                        <span id='modal-allergies'></span>
                    </div>
                </figcaption>
            </figure>
        </div><!--#modal-item-->
    </div><!--#modal-->

</div><!--#dinner-menu-->

<%- include('partials/editMenu') %>




</main>
<script>
    const modal = document.querySelector('#modal')
    const modalImage = document.querySelector('#modal-image')
    const modalName = document.querySelector('#modal-name')
    const modalDescription = document.querySelector('#modal-description')
    const modalPrice = document.querySelector('#modal-price')
    const modalAllergies = document.querySelector('#modal-allergies')
    const dinnerSubMenu = document.querySelector('#dinner-sub-menu')
    const drinksSubMenu = document.querySelector('#drinks-sub-menu')
    const wineSubMenu = document.querySelector('#wine-sub-menu')

    function showModal(item){
        if(!item.image) return        
        console.log(item)
        modalImage.src=item.image
        modalName.innerHTML = item.title
        modalDescription.innerHTML = item.caption
        modalPrice.innerHTML = item.price
        modalAllergies.innerHTML = item.allergies
        modal.style.display = 'grid'
    }
    function closeModal(){
        modal.style.display = 'none'
    }
    function displayDinnerSubMenu(){
        dinnerSubMenu.style.display = 'block'
    }
    function hideDinnerSubMenu(){
        dinnerSubMenu.style.display = 'none'
    }
    function displayDrinksSubMenu(){
        drinksSubMenu.style.display = 'block'
    }
    function hideDrinksSubMenu(){
        drinksSubMenu.style.display = 'none'
    }
    function displayWineSubMenu(){
        wineSubMenu.style.display = 'block'
    }
    function hideWineSubMenu(){
        wineSubMenu.style.display = 'none'
    }

    const websiteLinks = document.querySelectorAll('.link-to-website')
    websiteLinks[0].href='/drinks'
    websiteLinks[1].href='/drinks'

</script>

<%- include('partials/footerEdit') %>