<%- include('partials/headEdit') %>

#top,#bottom{
    display:flex;
}
#top-left, #top-right{
    width:50%;
}
h2{
    font-family: futura light;
    font-weight:900;
    font-size:2rem;
    margin-top:2em;
}
#modal img{
    max-width:95vw;
    max-height:75vh;
    border-radius:25px;
}
.name, #modal-name{
    font-weight:900;
    font-size:1.3rem;
    font-family: futura light;
}
main{
    font-family:serif;
    display:grid;
    place-content:center;
    min-height:calc(100vh - 5.5em);
}
#dinner-menu{
    margin:0 auto;
    max-width:8.5in;
    min-height:14in;
    border:1px solid red;
    background-image: url('menu-background.jpg');
}
.price, #modal-price{
    font-weight:900;
    font-size:1.2rem;
}
.allergies, #modal-allergies{
    font-family:sans-serif;
    color:red;
    font-size:0.9rem;
}
body{
    position:relative;
}
#modal{
    width:100vw;
    min-height:100vh;
    background: #888888ee;
    position: fixed;
    inset:0;
    display:none;
    place-content:center;
    padding:10px;
}
#close-modal-button{
    font-size:60px;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    font-weight:900;
}
figure{
    display:table;
}
figcaption{
    background:#ccc;
    padding:10px;
    border-radius:25px;
    display:table-caption;
    caption-side:bottom;
}

@media(min-width:8.5in){
    #dinner-menu{
        padding:0.5in;
    }
    #top-left, #bottom-left{
        padding-right:0.25in;
    }
    #top-right, #bottom-right{
        padding-left:0.25in;
    }
}
main h1{
    text-align:left;
    font-family:futura light;
    font-size:3rem;
}


.fa-trash{
    color:red;
}
.fa-pen{
    color:#ffae42;
}
button{
    background:darkblue;
    display:inline-block;
    margin:0;
    padding:0.5em;
}
form{
    display:inline-block;
}
#edit-nav li{
    margin:0;
    color:black;
}

<%- include('partials/header') %>

<main>

<script>
    function displayDinnerSubMenu(){
        dinnerSubMenu.style.display = 'block'
    }
    function hideDinnerSubMenu(){
        dinnerSubMenu.style.display = 'none'
    }

    function displayDrinksSubMenu(){
        drinksSubMenu.style.display = 'block'
    }
    function hideDrinksSubMenu(){
        drinksSubMenu.style.display = 'none'
    }
    
    function displayWineSubMenu(){
        wineSubMenu.style.display = 'block'
    }
    function hideWineSubMenu(){
        wineSubMenu.style.display = 'none'
    }
        
</script>
<nav id='edit-nav'>
    <li style='position:relative;'>
        <div style='color:white;' 
             onmouseover = 'displayDinnerSubMenu()'
             onmouseout  = 'hideDinnerSubMenu()'
             id='dinner-button'>
             dinner
        </div>
        <div id='dinner-sub-menu' 
             style='display:none;position:absolute;color:black;'
             onmouseover = 'displayDinnerSubMenu()'
             onmouseout = 'hideDinnerSubMenu()'>
            <ul>
                <a href='/edit/charcuterie'><li>Charcuterie</li></a>
                <a href='/edit/appetizers'><li>Appetizers</li></a>
                <a href='/edit/entrees'><li>Entrées</li></a>
                <a href='/edit/sides'><li>Sides</li></a>
            </ul>
        </div>
    </li>
    
    <li><a href='/edit/specials'>specials</a></li>
    <li><a href='/edit/dessert'>dessert</a></li>

    <li style='position:relative;'>
        <div style='color:white'
             id='wine-button'
             onmouseover = 'displayWineSubMenu()'
             onmouseout = 'hideWineSubMenu()'>
            wine
        </div>
        <div id='wine-sub-menu'
             style='display:none;position:absolute;color:black;'
             onmouseover = 'displayWineSubMenu()'
             onmouseout = 'hideWineSubMenu()'>
            <ul>
                <li><a href='/edit/btg'>BTG</a></li>
                <li><a href='/edit/cavaChampagne'>Cava & Champagne</a></li>
                <li><a href='/edit/rose'>Rosé</a></li>
                <li><a href='/edit/whiteSpain'>White Spain</a></li>
                <li><a href='/edit/whiteFrance'>White France</a></li>
                <li>White Italy</li>
                <li>White Germany</li>
                <li>Red Spain</li>
                <li>Red France</li>
                <li>Red Italy</li>
            </ul>
        </div>
    </li>
    
    <li style='position:relative;'>
        <div style='color:white'
             onmouseover = 'displayDrinksSubMenu()'
             onmouseout = 'hideDrinksSubMenu()'>
            drinks
        </div>
        <div id='drinks-sub-menu'
             style='display:none;position:absolute;color:black;'
             onmouseover = 'displayDrinksSubMenu()'
             onmouseout = 'hideDrinksSubMenu()'>
            <ul>
                <a href='/edit/craftDrinks'><li>craft drinks</li></a>
                <a href='/edit/sangria'><li>sangria</li></a>
                <a href='/edit/nonAlcoholic'><li>non-alcoholic</li></a>
                <a href='/edit/beer'><li>beer</li></a>
            </ul>
        </div>
    </li>
    

</nav>


<div class='edit-menu'>
    <a href='/'>
        <button>
            <i class="fa-solid fa-eye"></i>
            Live Website
        </button>
    </a>

    <a href='/edit/createMenuItem'>
        <button style='margin:0 auto;display:block;'>
            <i class="fa-solid fa-circle-plus"></i>
            Add New Item
        </button>
    </a>

    <a href='/edit/archives'>
        <button>
            <i class="fa-regular fa-folder-open"></i>
            Archives
        </button>
    </a>
</div><!--#edit-menu-->

<div id='dinner-menu'>


    <h1>olea</h1>
    <hr>
    <div id="top">
        <div id='top-left'>
            <ul>
                <% for (let i=0;i<charcuterie.length;i++){ %>
                    <li>
                        <% if(i!=0) { %>
                            <a href='/edit/moveUp/<%= charcuterie[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>
                        <% } %>
                        <div onclick='showModal(<%= JSON.stringify(charcuterie[i]) %>)'>
                            <span class='name'><%= charcuterie[i].name %></span><br>
                            <%- charcuterie[i].description %>
                            &nbsp; 
                            <span class='price'><%= charcuterie[i].price %></span><br>
                            <span class='allergies'><%- charcuterie[i].allergies %></span><br>
                        </div>                        
                        <a href='/edit/updateItem/<%= charcuterie[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= charcuterie[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>

                        <form method='POST'
                            action='../edit/archiveMenuItem/<%= charcuterie[i].id %>?_method=PUT'>
                            <button>
                                <i class="fa-solid fa-folder-plus"></i>
                                <span class='archive-text'>Archive</span>
                            </button>
                        </form>
                        
                        <% if(i!=charcuterie.length-1){ %>
                            <a href='/edit/moveDown/<%= charcuterie[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>
                        <% } %>
                    </li>
                <%}%>
            </ul>
            <br><br><br>
            <ul>
                <% for (let i=0;i<appetizers.length;i++){ %>
                    <li>
                        <% if(i!=0) { %>
                            <a href='/edit/moveUp/<%= appetizers[i].id %>'>
                                <div id='arrow-up'>
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                            </a>
                        <% } %>
                        <div onclick='showModal(<%= JSON.stringify(appetizers[i]) %>)'>
                            <span class='name'><%= appetizers[i].name %></span><br>
                            <%- appetizers[i].description %>
                            &nbsp;
                            <span class='price'><%= appetizers[i].price %></span><br>
                            <span class='allergies'><%- appetizers[i].allergies %></span><br>
                            sequence: <%= appetizers[i].sequence %>
                        </div>
                        <a href='/edit/updateItem/<%= appetizers[i].id %>'>                    
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST' action='../edit/deleteMenuItem/<%= appetizers[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>

                        <form method='POST'
                            action='../edit/archiveMenuItem/<%= appetizers[i].id %>?_method=PUT'>
                            <button>
                                <i class="fa-solid fa-folder-plus"></i>
                                <span class='archive-text'>Archive</span>
                            </button>
                        </form>

                        <% if(i!=appetizers.length-1){ %>
                            <a href='/edit/moveDown/<%= appetizers[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>
                        <% } %>
                    </li>
                <%}%>
            </ul>
        </div><!--#top-left-->

        <div id='top-right'>
            <ul>
                <% for (let i=0;i<entrees.length;i++){ %>
                    <li>
                        <% if(i!=0) { %>
                            <a href='/edit/moveUp/<%= entrees[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>
                        <% } %>
                        <div onclick='showModal(<%= JSON.stringify(entrees[i]) %>)'>
                            <span class='name'><%= entrees[i].name %></span><br>
                            <%- entrees[i].description %>
                            &nbsp;
                            <span class='price'><%= entrees[i].price %></span><br>
                            <span class='allergies'><%- entrees[i].allergies %></span><br>
                        </div>
                        <a href='/edit/updateItem/<%= entrees[i].id %>'>                        
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST' 
                              action='../edit/deleteMenuItem/<%= entrees[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>

                        <form method='POST'
                            action='../edit/archiveMenuItem/<%= entrees[i].id %>?_method=PUT'>
                            <button>
                                <i class="fa-solid fa-folder-plus"></i>
                                <span class='archive-text'>Archive</span>
                            </button>
                        </form>


                        <% if(i!=entrees.length-1){ %>
                            <a href='/edit/moveDown/<%= entrees[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>
                        <% } %>                        
                    </li>
                <%}%>
            </ul>
        
        </div><!--#top-right-->
    </div><!--#top-->

    <h2>sides</h2>
    <div id='bottom'>
            <ul>
                <% for (let i=0;i<sides.length;i++){ %>
                    <li>
                        <% if(i!=0) { %>
                            <a href='/edit/moveUp/<%= sides[i].id %>'>
                                <div id='arrow-up'><i class="fa-solid fa-caret-up"></i></div>
                            </a>
                        <% } %>
                        <div onclick='showModal(<%= JSON.stringify(sides[i]) %>)'>
                            <span class='name'><%= sides[i].name %></span><br>
                            <%= sides[i].description %>
                            &nbsp;
                            <span class='price'><%= sides[i].price %></span><br>
                            <span class='allergies'><%- sides[i].allergies %></span><br>
                        </div>
                        <a href='/edit/updateItem/<%= sides[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= sides[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>

                        <form method='POST'
                            action='../edit/archiveMenuItem/<%= sides[i].id %>?_method=PUT'>
                            <button>
                                <i class="fa-solid fa-folder-plus"></i>
                                <span class='archive-text'>Archive</span>
                            </button>
                        </form>


                        <% if(i!=sides.length-1){ %>
                            <a href='/edit/moveDown/<%= sides[i].id %>'>
                                <div id='arrow-down'><i class="fa-solid fa-caret-down"></i></div>                        
                            </a>
                        <% } %>
                    </li>
                <%}%>
            </ul>
        
        
    </div><!--#bottom-->

   

    <div id='modal'>
        <i class='fa-solid fa-square-xmark x'
           id='close-modal-button'
           onclick='closeModal()'></i>
        <div id='modal-item'>
            <figure>
                <img src='' id='modal-image'>
                <figcaption>
                    <div id='modal-text'>
                        <span id='modal-name'></span><br>
                        <span id='modal-description'></span>&nbsp;
                        <span id='modal-price'></span><br>
                        <span id='modal-allergies'></span>
                    </div>
                </figcaption>
            </figure>
        </div><!--#modal-item-->
    </div><!--#modal-->

</div><!--#dinner-menu-->

<div class='edit-menu'>
    <a href='/'>
        <button>
            <i class="fa-solid fa-eye"></i>
            Live Website
        </button>
    </a>

    <a href='/edit/createMenuItem'>
        <button style='margin:0 auto;display:block;'>
            <i class="fa-solid fa-circle-plus"></i>
            Add New Item
        </button>
    </a>

    <a href='/edit/archives'>
        <button>
            <i class="fa-regular fa-folder-open"></i>
            Archives
        </button>
    </a>
</div><!--#edit-menu-->



</main>

<script>
    const modal = document.querySelector('#modal')
    const modalImage = document.querySelector('#modal-image')
    const modalName = document.querySelector('#modal-name')
    const modalDescription = document.querySelector('#modal-description')
    const modalPrice = document.querySelector('#modal-price')
    const modalAllergies = document.querySelector('#modal-allergies')
    const dinnerSubMenu = document.querySelector('#dinner-sub-menu')
    const drinksSubMenu = document.querySelector('#drinks-sub-menu')
    const wineSubMenu = document.querySelector('#wine-sub-menu')

    function showModal(item){
        console.log(item)
        modalImage.src=item.image
        modalName.innerHTML = item.title
        modalDescription.innerHTML = item.caption
        modalPrice.innerHTML = item.price
        modalAllergies.innerHTML = item.allergies
        modal.style.display = 'grid'
    }
    function closeModal(){
        modal.style.display = 'none'
    }

  
</script>
<%- include('partials/footer') %>