<%- include('partials/headEdit') %>

#legal{
    display:grid;
    place-content:center;
    font-size:0.7rem;
}
h2{
    font-family: futura light;
    font-weight:900;
    font-size:2rem;
    margin-top:2em;
}
#modal img{
    max-width:95vw;
    max-height:75vh;
    border-radius:25px;
}
.name, #modal-name{
    font-weight:900;
    font-size:1.3rem;
    font-family: futura light;
}
main{
    font-family:serif;
    display:grid;
    place-content:center;
    min-height:calc(100vh - 5.5em);
}
#wine-btg{
    max-width:7in;
    min-height:8.5in;
    border:1px solid red;
    background: white;
}
.price, #modal-price{
    font-weight:900;
    font-size:1.2rem;
}
.allergies, #modal-allergies{
    font-family:sans-serif;
    color:red;
    font-size:0.9rem;
}
body{
    position:relative;
}
#modal{
    width:100vw;
    min-height:100vh;
    background: #888888ee;
    position: fixed;
    inset:0;
    display:none;
    place-content:center;
    padding:10px;
}
#close-modal-button{
    font-size:60px;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    font-weight:900;
}
figure{
    display:table;
}
figcaption{
    background:#ccc;
    padding:10px;
    border-radius:25px;
    display:table-caption;
    caption-side:bottom;
}

@media(min-width:8.5in){
    #specials-menu{
        padding:0.5in;
    }
}
main h1{
    text-align:left;
    font-family:futura light;
    font-size:3rem;
}
.fa-trash{
    color:red;
}
.fa-pen{
    color:#ffae42;
}
button{
    background:darkblue;
    display:inline-block;
    margin:0;
    padding:0.5em;
}
form{
    display:inline-block;
}


<%- include('partials/header') %>

<main>
<nav>
    <a href='/edit/dinner'>dinner</a>
    <a href='/edit/specials'>specials</a>
    <a href='/edit/dessert'>dessert</a>
    <a class='active-page'>wine</a>
    <a href='/edit/drinks'>drinks</a>
</nav>


<div id='wine-btg'>

<a href='/edit/createMenuItem'>
<button style='margin:0 auto;display:block;'>
    <i class="fa-solid fa-circle-plus"></i>
    Add New Item
</button>
</a>
    <h1>olea</h1>
    <hr>

    <h2>wine by the glass</h2>

        <h3>Cava</h3>
            <ul>
                <% for (let i=0;i<btgCava.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(btgCava[i]) %>)'>
                        <%= btgCava[i].grapes %><br>
                        <span class='name'><%= btgCava[i].name %></span><br>
                        <%= btgCava[i].vintage %><br>
                        <%- btgCava[i].description %>
                        &nbsp; 
                        <span class='price'><%= btgCava[i].price %></span><br>
                        
                        <a href='/edit/updateItem/<%= btgCava[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= btgCava[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>
                    </li>
                <%}%>
            </ul>

        <h3>White</h3>
            <ul>
                <% for (let i=0;i<btgWhites.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(btgWhites[i]) %>)'>
                        <%= btgWhites[i].grapes %><br>
                        <span class='name'><%= btgWhites[i].name %></span><br>
                        <%= btgWhites[i].vintage %><br>
                        <%- btgWhites[i].description %>
                        &nbsp; 
                        <span class='price'><%= btgWhites[i].price %></span><br>
                        
                        <a href='/edit/updateItem/<%= btgWhites[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= btgWhites[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>
                    </li>
                <%}%>
            </ul>

        <h3>Rosé</h3>
            <ul>
                <% for (let i=0;i<btgRose.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(btgRose[i]) %>)'>
                        <%= btgRose[i].grapes %><br>
                        <span class='name'><%= btgRose[i].name %></span><br>
                        <%- btgRose[i].description %>
                        &nbsp; 
                        <span class='price'><%= btgRose[i].price %></span><br>
                        
                        <a href='/edit/updateItem/<%= btgRose[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= btgRose[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>
                    </li>
                <%}%>
            </ul>

        <h3>Red</h3>
            <ul>
                <% for (let i=0;i<btgReds.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(btgReds[i]) %>)'>
                        <span class='name'><%= btgReds[i].name %></span><br>
                        <%- btgReds[i].description %>
                        &nbsp; 
                        <span class='price'><%= btgReds[i].price %></span><br>
                        
                        <a href='/edit/updateItem/<%= btgReds[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= btgReds[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>
                    </li>
                <%}%>
            </ul>

        <h3>Sherries</h3>
            <ul>
                <% for (let i=0;i<btgSherries.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(btgSherries[i]) %>)'>
                        <span class='name'><%= btgSherries[i].name %></span><br>
                        <%- btgSherries[i].description %>
                        &nbsp; 
                        <span class='price'><%= btgSherries[i].price %></span><br>
                        
                        <a href='/edit/updateItem/<%= btgSherries[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= btgSherries[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>
                    </li>
                <%}%>
            </ul>

    <h2>wine by the bottle</h2>

        <h3>cava & champagne</h3>
            <ul>
                <% for (let i=0;i<cavaChampagne.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(cavaChampagne[i]) %>)'>
                        <span class='name'><%= cavaChampagne[i].name %></span><br>
                        <%- cavaChampagne[i].description %>
                        &nbsp; 
                        <span class='price'><%= cavaChampagne[i].price %></span><br>
                        
                        <a href='/edit/updateItem/<%= cavaChampagne[i].id %>'>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                                <span class='edit-text'>Edit</span>
                            </button>
                        </a>

                        <form method='POST'
                            action='../edit/deleteMenuItem/<%= cavaChampagne[i].id %>?_method=DELETE'>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                                <span class='delete-text'>Delete</span>
                            </button>
                        </form>
                    </li>
                <%}%>
            </ul>



<a href='/edit/createMenuItem'>    
<button style='margin:0 auto;display:block;margin-top:1em;'>
    <i class="fa-solid fa-circle-plus"></i>
    Add New Item
</button>
</a>
    <div id='modal'>
        <i class='fa-solid fa-square-xmark x'
           id='close-modal-button'
           onclick='closeModal()'></i>
        <div id='modal-item'>
            <figure>
                <img src='' id='modal-image'>
                <figcaption>
                    <div id='modal-text'>
                        <span id='modal-name'></span><br>
                        <span id='modal-description'></span>&nbsp;
                        <span id='modal-price'></span><br>
                        <span id='modal-allergies'></span>
                    </div>
                </figcaption>
            </figure>
        </div><!--#modal-item-->
    </div><!--#modal-->

</div><!--#specials-menu-->


</main>

<script>
    const modal = document.querySelector('#modal')
    const modalImage = document.querySelector('#modal-image')
    const modalName = document.querySelector('#modal-name')
    const modalDescription = document.querySelector('#modal-description')
    const modalPrice = document.querySelector('#modal-price')
    const modalAllergies = document.querySelector('#modal-allergies')

    function showModal(item){
        console.log(item)
        modalImage.src=item.image
        modalName.innerHTML = item.title
        modalDescription.innerHTML = item.caption
        modalPrice.innerHTML = item.price
        modalAllergies.innerHTML = item.allergies
        modal.style.display = 'grid'
    }
    function closeModal(){
        modal.style.display = 'none'
    }
</script>
<%- include('partials/footer') %>