<%- include('partials/head') %>

#top,#bottom,#legal{
    display:flex;
}
#top-left, #top-right, 
#bottom-left, #bottom-right,
#legal-left, #legal-right{
    width:50%;
}
h2{
    font-family: futura light;
    font-weight:900;
    font-size:2rem;
    margin-top:2em;
}
#modal img{
    max-width:95vw;
    max-height:75vh;
    border-radius:25px;
}
.name, #modal-name{
    font-weight:900;
    font-size:1.3rem;
    font-family: futura light;
}

#dinner-menu{
    max-width:8.5in;
    min-height:14in;
    background-image: url('menu-background.jpg');
}
.price, #modal-price{
    font-weight:900;
    font-size:1.2rem;
}
.allergies, #modal-allergies{
    font-family:sans-serif;
    color:red;
    font-size:0.9rem;
}
body{
    position:relative;
}
#modal{
    width:100vw;
    min-height:100vh;
    background: #888888ee;
    position: fixed;
    inset:0;
    display:none;
    place-content:center;
    padding:10px;
}
#close-modal-button{
    font-size:60px;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    font-weight:900;
}
figure{
    display:table;
}
figcaption{
    background:#ccc;
    padding:10px;
    border-radius:25px;
    display:table-caption;
    caption-side:bottom;
}

@media(min-width:8.5in){
    #dinner-menu{
        padding:0.5in;
    }
    #top-left, #bottom-left{
        padding-right:0.25in;
    }
    #top-right, #bottom-right{
        padding-left:0.25in;
    }
}
main h1{
    text-align:left;
    font-family:futura light;
    font-size:3rem;
}
#legal-left{
    font-family:futura light;
    font-weight:900;
    font-size:1.5rem;
}
#legal-right{
    font-size:0.7rem;
}


<%- include('partials/header') %>

<main>
<nav id='nav-top'>
    <a class='active-page'>dinner</a>
    <a href='/specials'>specials</a>
    <a href='/dessert'>dessert</a>
    <a href='/wine'>wine</a>
    <a href='/drinks'>drinks</a>
</nav>
<div id='dinner-menu' class='menu'>
    <h1>olea</h1>
    <hr>
    <div id="top">
        <div id='top-left'>
            <ul>
                <% for (let i=0;i<charcuterie.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(charcuterie[i]) %>)'>
                        <span class='name'><%= charcuterie[i].name %></span><br>
                        <%- charcuterie[i].description %>
                        &nbsp; 
                        <span class='price'><%= charcuterie[i].price %></span><br>
                        <span class='allergies'><%- charcuterie[i].allergies %></span><br>
                    </li>
                <%}%>
            </ul>

            <ul>
                <% for (let i=0;i<appetizers.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(appetizers[i]) %>)'>
                        <span class='name'><%= appetizers[i].name %></span><br>
                        <%- appetizers[i].description %>
                        &nbsp;
                        <span class='price'><%= appetizers[i].price %></span><br>
                        <span class='allergies'><%- appetizers[i].allergies %></span><br>
                    </li>
                <%}%>
            </ul>
        </div><!--#top-left-->

        <div id='top-right'>
            <ul>
                <% for (let i=0;i<entrees.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(entrees[i]) %>)'>
                        <span class='name'><%= entrees[i].name %></span><br>
                        <%- entrees[i].description %>
                        &nbsp;
                        <span class='price'><%= entrees[i].price %></span><br>
                        <span class='allergies'><%- entrees[i].allergies %></span><br>
                    </li>
                <%}%>
                    <li>
                        <span class='name'>chef's tasting menu</span> <span class='price'>98</span> / person<br>
                        six courses<br>
                        no modifications<br>
                        full table participation<br>
                        reservation required<br>
                        tuesday through thursday<br>
                        <span style='font-style:italic;'>optional wine pairing <span class='price'>52</span> / person</span>
                    </li>
            </ul>
        
        </div><!--#top-right-->
    </div><!--#top-->

    <h2>sides</h2>
    <div id='bottom'>
        <div id='bottom-left'>
            <ul>
                <% for (let i=0;i<2;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(sides[i]) %>)'>
                        <span class='name'><%= sides[i].name %></span><br>
                        <%= sides[i].description %>
                        &nbsp;
                        <span class='price'><%= sides[i].price %></span><br>
                        <span class='allergies'><%- sides[i].allergies %></span><br>
                    </li>
                <%}%>
            </ul>
        </div><!--#bottom-left-->
        
        <div id='bottom-right'>
            <ul>
                <% for (let i=2;i<sides.length;i++){ %>
                    <li onclick='showModal(<%= JSON.stringify(sides[i]) %>)'>
                        <span class='name'><%= sides[i].name %></span><br>
                        <%= sides[i].description %>
                        &nbsp;
                        <span class='price'><%= sides[i].price %></span><br>
                        <span class='allergies'><%- sides[i].allergies %></span><br>
                    </li>
                <%}%>
            </ul>
        
        </div><!--#bottom-right-->
    </div><!--#bottom-->

    <div id='legal'>
        <div id='legal-left'>manuel romero, chef</div>
        <div id='legal-right'>
            consumer advisory: consumption of undercooked meat, poultry, eggs, 
            or seafood may increase the risk of food-borne illnesses<br>
            please alert your server if you have special dietary requirements<br>
            all menu items are subject to change according to seasonality
            and availability
        </div>
    </div><!--#legal-->

    <div id='modal'>
        <i class='fa-solid fa-square-xmark x'
           id='close-modal-button'
           onclick='closeModal()'></i>
        <div id='modal-item'>
            <figure>
                <img src='' id='modal-image'>
                <figcaption>
                    <div id='modal-text'>
                        <span id='modal-name'></span><br>
                        <span id='modal-description'></span>&nbsp;
                        <span id='modal-price'></span><br>
                        <span id='modal-allergies'></span>
                    </div>
                </figcaption>
            </figure>
        </div><!--#modal-item-->
    </div><!--#modal-->
</div><!--#dinner-menu-->
</main>

<script>
    const modal = document.querySelector('#modal')
    const modalImage = document.querySelector('#modal-image')
    const modalName = document.querySelector('#modal-name')
    const modalDescription = document.querySelector('#modal-description')
    const modalPrice = document.querySelector('#modal-price')
    const modalAllergies = document.querySelector('#modal-allergies')

    function showModal(item){
        if (!item.image) return
        console.log(item)
        modalImage.src= item.image
        modalImage.alt = item.name
        modalName.innerHTML = item.name
        modalDescription.innerHTML = item.description
        modalPrice.innerHTML = item.price
        modalAllergies.innerHTML = item.allergies
        modal.style.display = 'grid'
    }
    function closeModal(){
        modal.style.display = 'none'
    }
</script>

<%- include('partials/footer') %>
<script>
    document.querySelector('#footer-dinner').classList.add('active-page')
</script>
</body>
</html>