<%- include('partials/head') %>



<%- include('partials/header') %>

<main>
    <div>
        <div>
            <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href='/logout'><span class='button'>Logout</span></a>
            </div>
            <div>
                <h2>Add a post</h2><br>
                <form action='/post/createPost' enctype='multipart/form-data' method='POST'>
                    <div>
                        <label for='menu'>Menu</label><br>
                        <input type='text' id='menu' name='menu'>
                    </div><br>
                    <div>
                        <label for='section'>Section</label><br>
                        <input type='text' id='section' name='section'>
                    </div><br>
                    <div>
                        <label for='title'>Title</label><br>
                        <input type='text' id='title' name='title'>
                    </div><br>
                    <div>
                        <label for='caption'>Caption</label><br>
                        <textarea rows='6' cols='30' id='caption' name='caption'></textarea>
                    </div><br>
                    <div>
                        <label for='price'>Price</label><br>
                        <input type='text' size='5' id='price' name='price'>
                    </div><br>
                    <div>
                        <label for='allergies'>Allergies</label><br>
                        <input type='text' id='allergies' name='allergies'>
                    </div><br>
                    <div>
                        <label for='sequence'>Sequence</label><br>
                        <input type='text' id='sequence' name='sequence'>
                    </div><br>
                    

                    <div>
                        <label for='imgUpload'>Image</label>
                        <input type='file' id='imageUpload' name='file'>
                    </div>
                    <button type='submit' value='upload'>Submit</button>
                </form>
            </div>
        </div>
        <div>
            <ul>
                <% for(let i=0;i<posts.length;i++) {%>
                    <li>
                        <a href='/post/<%= posts[i]._id %>'>
                            <img src='<%= posts[i].image %>'>
                        </a>
                    </li>
                <%}%>
            </ul>
            <div>
                <a href='/feed'>Return to Feed</a>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') %>