<% console.log(req.params) %>
<% console.log(item) %>

<form id='edit-item-form'
      method='POST'
      onsubmit='updateItem()'>

    Item ID:<br>
    <%= req.params.id %><br><br>

    Menu: <%= item.menu %><br><br>
    <input type='hidden' id='menu' name='menu' value='<%= item.menu %>'>

    Section: <%= item.section %><br><br>
    <input type='hidden' id='section' name='section' value='<%= item.section %>'>

    Name:<br> 
    <input type='text' id='name' name='name' value='<%= item.name %>'>
    <br><br>

    Description:<br> 
    <textarea id='description' 
              name='description'
              cols='30'
              rows='7'><%= item.description %></textarea>
    <br><br>

    Price:<br> 
    <input type='text' id='price' name='price' value='<%= item.price %>'>
    <br><br>

    Allergies:<br>
    <input type='text' id='allergies' name='allergies' value='<%= item.allergies %>'>
    <br><br>

    Sequence:<br> 
    <input type='text' id='sequence' name='sequence' value='<%= item.sequence %>'>
    <br><br>


    <% if(item.image){ %>
        <input type='hidden' id='cloudinary-id' name='cloudinary-id' value='<%= item.cloudinaryId %>'>
        Current Image:<br>
        <img src='<%= item.image%>'>
        <br><br>

        Replace Image: <span style='color:red;'>*optional</span>
        <br>
        <input type='file' id='image-file' name='file'>
    <% }else{ %>
        <img src='/no-image.jpg' alt='no image'><br>
        This Menu Item Has No Image<br>
        Add New Image: <span style='color:red;>*optional</span>
        <input type='file' id='image-file' name='file'>
    <% } %>
    <br><br><br><br>
    <button>Save Changes</button>
</form>

<script>
    function updateItem(){
        const imageFile = document.querySelector('#image-file').value
        const form = document.querySelector('#edit-item-form')
        if(imageFile){
            form.enctype = 'multipart/form-data'
            form.action = '/edit/saveChangesWpic/<%= req.params.id %>?_method=PUT'
        }else{
            form.action = '/edit/saveChanges/<%= req.params.id %>?_method=PUT'
        }
        return true;
    }
</script>